body{
font-family:Arial;
background:#0b0b0b;
color:white;
margin:0;
}

header{
text-align:center;
padding:30px;
background:#111;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#151515;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
color:orange;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
}

.dark{
background:#050505;
color:#eee;
}

.article{
margin-bottom:40px;
}

footer{
text-align:center;
padding:20px;
background:#111;
}
